<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>999289623788-2r6b8f2m70lb96c5dhvlbum8621r4tha.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.999289623788-2r6b8f2m70lb96c5dhvlbum8621r4tha</string>
	<key>API_KEY</key>
	<string>AIzaSyAQHmzmYAYcPq3odnKD4BB75fHzliBQYMY</string>
	<key>GCM_SENDER_ID</key>
	<string>999289623788</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Soi.com</string>
	<key>PROJECT_ID</key>
	<string>agenda-arterial</string>
	<key>STORAGE_BUCKET</key>
	<string>agenda-arterial.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:999289623788:ios:c039effcf153aeeac801c9</string>
</dict>
</plist>